html,
body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background: url("../assets/handmadepaper.png");
  font-weight: 400;
  color: #000;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  max-width: 95%;
  margin: 0 auto;
}

#app {
  height: 100%;
  margin: 1rem auto;
  max-width: 600px;
}

h1,
h2,
h3 {
  font-family: "Just Another Hand", cursive;
  font-weight: 400;
}

h1,
h2 {
  font-size: 60px;
  margin-bottom: 1rem;
}

h2 + p,
h3 + p {
  margin-top: 0;
}

h3 {
  font-size: 40px;
  margin-bottom: 0.5rem;
}

.programlist {
  display: grid;
  grid-template-columns: 60px auto;
}

.programlist dt {
  font-size: 30px;
  font-family: "Just Another Hand";
}

.programlist dd {
  margin-bottom: 1.2rem;
  margin-left: 0;
}

.listheader {
  font-size: 20px;
  /* font-family: "Just Another Hand"; */
  display: block;
  font-weight: 600;
  margin-bottom: 10px;
}

* {
  box-sizing: border-box;
}

.faq dd {
  margin-left: 0;
  margin-bottom: 1rem;
}

.faq dt {
  font-size: 20px;
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}
